html,
body {
    height: 100%;
}

body {
    overflow: hidden;
    height: 98%;
    margin: 1%;
    display: flex;
    flex-direction: column;
    background-color: rgb(54, 54, 54);
}

.top {
    height: 10%;
    display: flex;
    background: rgb(255, 108, 108);
    color: aliceblue;
    justify-content: center;
}

h1 {
    margin: 0;
    align-self: center;
}

#conv {
    display: flex;
    padding: 0 5px;
    margin: 20px 0 10px 0;
    overflow-y: scroll;
    height: 75%;
    color: aliceblue;
    align-self: left;
    flex-direction: column;
    font-family: Consolas, "Courier New", monospace;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #666;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(skyblue, yellowgreen);
}

.text {
    display: flex;
    flex-direction: column;
    width: auto;
    max-width: 80%;
    min-width: 10%;
    margin: 3px;
    border-radius: 5px;
}

.left {
    align-self: flex-start;
    text-align: right;
    background-color: rgb(69, 69, 69);
}

.right {
    align-self: flex-end;
    text-align: right;
    padding: 10px 0 0 0;
    background-color: rgb(41, 105, 255);
}

.name {
    font-size: medium;
    align-self: flex-start;
    color: rgb(65, 235, 107);
    padding: 2px;
    margin: 2px 4px;
}

.txt {
    margin: 0px 9px 5px;
    font-size: small;
    align-self: flex-start;
    word-wrap: break-word;
}

.left .txt {
    text-align: left;

}

.right .txt {
    text-align: right;

}

.time {
    color: rgb(154, 208, 255);
    font-size: x-small;
    margin: 0 2px 0 0;
    margin-right: 3px;
}

.join {
    margin: 3px;
    display: flex;
    align-self: center;
    font-size: small;
    margin: 5px 0;
    background-color: #666;
    padding: 3px 6px;
    border-radius: 5px;
}

.leave {
    background-color: darkred;
}

.message {
    display: flex;
    text-align: center;
    height: 10%;
    padding: 2.5px;
    display: flex;
    justify-content: center;
}

#in {
    width: 75%;
}

#send {
    font-size: medium;
    font-weight: bold;
    color: whitesmoke;
    background-color: lightseagreen;
    border-color: red;
    width: 10%;
    border-radius: 18px;
}

@media screen and (max-width: 600px),
not all and (orientation: landscape) {
    .top {
        font-size: x-large;
        height: 5%;
    }

    #conv {
        height: 90%;
    }

    .name {
        margin: 2px 10px 0 4px;
        font-size: xx-large;
    }

    .txt {
        font-size: xx-large;
    }

    .time {
        font-size: x-large;
    }

    .join {
        margin: 10px 0;
        padding: 5px 10px;
        font-size: large;
    }

    .message {
        height: 5%;
    }

    #in {
        font-size: x-large;
    }

    #send {
        font-size: x-large;
    }
}